[Unit]
Description=EIBD Server Daemon
After=network.target

[Service]
User=knx
Type=forking
EnvironmentFile=-/etc/default/eibd-server
ExecStartPre=-+/bin/mkdir -p /var/log/knx/
ExecStartPre=-+/bin/chown -R knx:knx /var/log/knx/
ExecStart=/usr/bin/eibd --daemon --pid-file /var/run/knx/eibd-server.pid $REMOTE_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
